@import "default";
/*
==================================
    Custom Button
*/
.c-btn{
  color: #fff;
  border-color: $defaultTxtColor;
  box-shadow: 0 2px 2px 0 rgba($defaultTxtColor, 0.14),
  0 3px 1px -2px rgba($defaultTxtColor, 0.2),
  0 1px 5px 0 rgba($defaultTxtColor,.12);
  position: relative;
  padding: 12px 30px;
  margin: .3125rem 1px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: .2rem;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
  will-change: box-shadow,transform;
}

/*
  ====================
  Solid Button
*/
.c-btn-dark{
  background-color: $defaultTxtColor;
  @include fastTransition;
  &:hover,&:focus{
    opacity: 0.8;
    box-shadow: 
    0 14px 26px -12px rgba($defaultTxtColor,.42),
    0 4px 23px 0 rgba($defaultTxtColor,.12),
    0 8px 10px -5px rgba($defaultTxtColor,.2);
  }
}
.c-btn-primary{
  background-color: $primary;
  @include fastTransition;
  &:hover,&:focus{
    opacity: 0.8;
    box-shadow: 
    0 14px 26px -12px rgba($primary,.42),
    0 4px 23px 0 rgba($primary,.12),
    0 8px 10px -5px rgba($primary,.2);
  }
}
.c-btn-secondary{
  background-color: $secondary;
  @include fastTransition;
  &:hover,&:focus{
    opacity: 0.8;
    box-shadow: 
    0 14px 26px -12px rgba($secondary,.42),
    0 4px 23px 0 rgba($secondary,.12),
    0 8px 10px -5px rgba($secondary,.2);
  }
}
.c-btn-success{
  background-color: $success;
  @include fastTransition;
  &:hover,&:focus{
    opacity: 0.8;
    box-shadow: 
    0 14px 26px -12px rgba($success,.42),
    0 4px 23px 0 rgba($success,.12),
    0 8px 10px -5px rgba($success,.2);
  }
}
.c-btn-danger{
  background-color: $danger;
  @include fastTransition;
  &:hover,&:focus{
    opacity: 0.8;
    box-shadow: 
    0 14px 26px -12px rgba($danger,.42),
    0 4px 23px 0 rgba($danger,.12),
    0 8px 10px -5px rgba($danger,.2);
  }
}
.c-btn-info{
  background-color: $info;
  @include fastTransition;
  &:hover,&:focus{
    opacity: 0.8;
    box-shadow: 
    0 14px 26px -12px rgba($info,.42),
    0 4px 23px 0 rgba($info,.12),
    0 8px 10px -5px rgba($info,.2);
  }
}
.c-btn-warning{
  background-color: $warning;
  @include fastTransition;
  &:hover,&:focus{
    opacity: 0.8;
    box-shadow: 
    0 14px 26px -12px rgba($warning,.42),
    0 4px 23px 0 rgba($warning,.12),
    0 8px 10px -5px rgba($warning,.2);
  }
}
.c-btn-focus{
  background-color: $focus;
  @include fastTransition;
  &:hover,&:focus{
    opacity: 0.8;
    box-shadow: 
    0 14px 26px -12px rgba($focus,.42),
    0 4px 23px 0 rgba($focus,.12),
    0 8px 10px -5px rgba($focus,.2);
  }
}
.c-btn-lite{
  background-color: $lite;
  @include fastTransition;
  color: #222222;
  &:hover,&:focus{
    opacity: 0.8;
    box-shadow: 
    0 14px 26px -12px rgba($lite,.42),
    0 4px 23px 0 rgba($lite,.12),
    0 8px 10px -5px rgba($lite,.2);
  }
}
.c-btn-alt{
  background-color: $alt;
  @include fastTransition;
  &:hover,&:focus{
    opacity: 0.8;
    box-shadow: 
    0 14px 26px -12px rgba($alt,.42),
    0 4px 23px 0 rgba($alt,.12),
    0 8px 10px -5px rgba($alt,.2);
  }
}

/*
  ==========================
  BorderAble Button
*/
button.hoverable{
  @include fastTransition;
  &:hover{
    color:$lite;
  }
  &:hover::before{
    height: 100%;
  }
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    @include fastTransition;
  }
}
.c-btn-primary-border{
  background-color: transparent;
  color: $primary;
  box-shadow: none;
  border:1px solid $primary;
  &::before{
    background-color: $primary;
  }
}
.c-btn-secondary-border{
  background-color: transparent;
  color: #333333;
  box-shadow: none;
  border:1px solid $secondary;
  &::before{
    background-color: $secondary;
  }
}
.c-btn-success-border{
  background-color: transparent;
  color: #333333;
  box-shadow: none;
  border:1px solid $success;
  &::before{
    background-color: $success;
  }
}
.c-btn-info-border{
  background-color: transparent;
  color: #333333;
  box-shadow: none;
  border:1px solid $info;
  &::before{
    background-color: $info;
  }
}
.c-btn-warning-border{
  background-color: transparent;
  color: #333333;
  box-shadow: none;
  border:1px solid $warning;
  &::before{
    background-color: $warning;
  }
}
.c-btn-danger-border{
  background-color: transparent;
  color: #333333;
  box-shadow: none;
  border: 1px solid $danger;
  &::before{
    background-color: $danger;
  }
}
.c-btn-focus-border{
  background-color: transparent;
  color: #333333;
  box-shadow: none;
  border: 1px solid $focus;
  &::before{
    background-color: $focus;
  }
}
.c-btn-alt-border{
  background-color: transparent;
  color: #333333;
  box-shadow: none;
  border: 1px solid $alt;
  &::before{
    background-color: $alt;
  }
}
.c-btn-lite-border{
  background-color: transparent;
  color: #333333;
  box-shadow: none;
  border: 1px solid $lite;
  &:hover{
    color: #111111 !important;
  }
  &::before{
    background-color: $lite;
  }
}
.c-btn-dark-border{
  background-color: transparent;
  color: #333333;
  box-shadow: none;
  border: 1px solid $defaultTxtColor;
  &::before{
    background-color: $defaultTxtColor;
  }
}


/*
  ==========================
  None Border Button
*/
.c-btn-primary-none-border{
  background-color: transparent;
  color: $primary;
  box-shadow: none;
  border:none;
  &::before{
    background-color: $primary;
  }
}
.c-btn-secondary-none-border{
  background-color: transparent;
  color: $secondary;
  box-shadow: none;
  border:none;
  &::before{
    background-color: $secondary;
  }
}
.c-btn-success-none-border{
  background-color: transparent;
  color: $success;
  box-shadow: none;
  border:none;
  &::before{
    background-color: $success;
  }
}
.c-btn-info-none-border{
  background-color: transparent;
  color: $info;
  box-shadow: none;
  border:none;
  &::before{
    background-color: $info;
  }
}
.c-btn-warning-none-border{
  background-color: transparent;
  color: $warning;
  box-shadow: none;
  border:none;
  &::before{
    background-color: $warning;
  }
}
.c-btn-danger-none-border{
  background-color: transparent;
  color: $danger;
  box-shadow: none;
  border:none;
  &::before{
    background-color: $danger;
  }
}
.c-btn-focus-none-border{
  background-color: transparent;
  color: $focus;
  box-shadow: none;
  border:none;
  &::before{
    background-color: $focus;
  }
}
.c-btn-alt-none-border{
  background-color: transparent;
  color: $alt;
  box-shadow: none;
  border:none;
  &::before{
    background-color: $alt;
  }
}
.c-btn-lite-none-border{
  background-color: transparent;
  color: $lite;
  box-shadow: none;
  border:none;
  &:hover{
    color: #111111 !important;
  }
  &::before{
    background-color: $lite;
  }
}
.c-btn-dark-none-border{
  background-color: transparent;
  color: #333333;
  box-shadow: none;
  border:none;
  &::before{
    background-color: $defaultTxtColor;
  }
}

/*
  ===============
  button Disable
*/
button.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
/*
==================================
    Default Code Block
*/
    code[class*="language-"], pre[class*="language-"] {
        color: #f8f8f2;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }
  .code-block{
    pre{
      background-color: #222222;
      color: white;
    }
    .token.comment, .token.prolog, .token.doctype, .token.cdata {
        color: slategray;
    }
    .token.property, .token.tag, .token.constant, .token.symbol, .token.deleted {
      color: #f92672;
    }
    .token.punctuation {
      color: #f8f8f2;
    }
    .token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
      color: #a6e22e;
    }
    .token.atrule, .token.attr-value, .token.function {
      color: #e6db74;
    }
  }
  
  
  /*
    =============================
    Alert Style
  */
  .alert{
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    .icon{
      color: #fff;
      margin-right: 10px;
      svg{
        width: 30px;
      }
    }
    span.message {
      display: block;
      max-width: 89%;
      font-size: 90%;
    }
  }
  .alert-info-box{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
    background-color: #00cae3;
  }
  .alert-success-box{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
    background-color: #55b559;
  }
  .alert-warning-box{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
    background-color: #ff9e0f;
  }
  .alert-danger-box{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
    background-color: #f55145;
  }
  .alert-primary-box{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(39, 71, 176, 0.4);
    background-color: #2a5abd;
  }

    //Border Alert Box
  .alert-info-box-border{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
    background-color: rgba(0, 200, 227, 0.5);
    border: 1px solid rgba(0, 200, 227, 1);
  }
  .alert-success-box-border{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
    background-color: rgba(85, 181, 88, 0.5);
    border: 1px solid rgba(85, 181, 88, 1);
  }
  .alert-warning-box-border{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
    background-color: rgba(255, 159, 15, 0.5);
    border: 1px solid rgba(255, 159, 15, 1);
  }
  .alert-danger-box-border{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
    background-color: rgba(245, 81, 69, 0.5);
    border: 1px solid rgba(245, 81, 69, 1);
  }
  .alert-primary-box-border{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(39, 71, 176, 0.4);
    background-color: rgba(42, 91, 189, 0.5);
    border: 1px solid rgba(42, 91, 189, 1);
  }
  