<div class="uk-grid uk-child-width-expand uk-child-width-1-2@m" uk-grid>
    <div>
        <article class="niceBg">
            <h4 class="uk-text-bolder uk-margin-remove">SOLID BUTTON</h4>
            <button type="button" class="c-btn c-btn-primary">Primary</button>
            <button type="button" class="c-btn c-btn-secondary">Secondary</button>
            <button type="button" class="c-btn c-btn-success">Success</button>
            <button type="button" class="c-btn c-btn-info">Info</button>
            <button type="button" class="c-btn c-btn-warning">Warning</button>
            <button type="button" class="c-btn c-btn-danger">Danger</button>
            <button type="button" class="c-btn c-btn-focus">Focus</button>
            <button type="button" class="c-btn c-btn-alt">Alt</button>
            <button type="button" class="c-btn c-btn-lite">Lite</button>
            <button type="button" class="c-btn c-btn-dark">Dark</button>
        </article>
    </div>

    <div>
        <article class="niceBg">
            <h4 class="uk-text-bolder uk-margin-remove">COLOR TRANSITION</h4>
            <button type="button" class="c-btn c-btn-primary-border hoverable">Primary</button>
            <button type="button" class="c-btn c-btn-secondary-border hoverable">Secondary</button>
            <button type="button" class="c-btn c-btn-success-border hoverable">Success</button>
            <button type="button" class="c-btn c-btn-info-border hoverable">Info</button>
            <button type="button" class="c-btn c-btn-warning-border hoverable">Warning</button>
            <button type="button" class="c-btn c-btn-danger-border hoverable">Danger</button>
            <button type="button" class="c-btn c-btn-focus-border hoverable">Focus</button>
            <button type="button" class="c-btn c-btn-alt-border hoverable">Alt</button>
            <button type="button" class="c-btn c-btn-lite-border hoverable">Lite</button>
            <button type="button" class="c-btn c-btn-dark-border hoverable">Dark</button>
        </article>
    </div>
</div>

<div class="uk-grid uk-child-width-expand uk-child-width-1-2@m" uk-grid>
    <div>
        <article class="niceBg">
            <h4 class="uk-text-bolder uk-margin-remove">NONE BORDER BUTTON</h4>
            <button type="button" class="c-btn c-btn-primary-none-border hoverable">Primary</button>
            <button type="button" class="c-btn c-btn-secondary-none-border hoverable">Secondary</button>
            <button type="button" class="c-btn c-btn-success-none-border hoverable">Success</button>
            <button type="button" class="c-btn c-btn-info-none-border hoverable">Info</button>
            <button type="button" class="c-btn c-btn-warning-none-border hoverable">Warning</button>
            <button type="button" class="c-btn c-btn-danger-none-border hoverable">Danger</button>
            <button type="button" class="c-btn c-btn-focus-none-border hoverable">Focus</button>
            <button type="button" class="c-btn c-btn-alt-none-border hoverable">Alt</button>
            <button type="button" class="c-btn c-btn-lite-none-border hoverable">Lite</button>
            <button type="button" class="c-btn c-btn-dark-none-border hoverable">Dark</button>
        </article>
    </div>
    <div>
        <article class="niceBg">
            <h4 class="uk-text-bolder uk-margin-remove">DISABLED BUTTON</h4>
            <button disabled type="button" class="c-btn c-btn-primary disabled">Primary</button>
            <button disabled type="button" class="c-btn c-btn-secondary disabled">Secondary</button>
            <button disabled type="button" class="c-btn c-btn-success disabled">Success</button>
            <button disabled type="button" class="c-btn c-btn-info disabled">Info</button>
            <button disabled type="button" class="c-btn c-btn-warning disabled">Warning</button>
            <button disabled type="button" class="c-btn c-btn-danger v">Danger</button>
            <button disabled type="button" class="c-btn c-btn-focus disabled">Focus</button>
            <button disabled type="button" class="c-btn c-btn-alt disabled">Alt</button>
            <button disabled type="button" class="c-btn c-btn-lite disabled">Lite</button>
            <button disabled type="button" class="c-btn c-btn-dark disabled">Dark</button>
        </article>
    </div>
</div>