<article class="niceBg">
    <div class="uk-grid uk-child-width-1 uk-child-width-1-2@s" uk-grid>
        <div>
            <h4 class="uk-text-bolder">Callouts Style With Icon</h4>
            <div class="alert alert-info-box">
                <span class="icon" uk-icon="icon:bell"></span>
                <span class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam minus. Sed minima beatae
                    nihil! Dignissimos voluptates commodi ab est!
                </span>
            </div>

            <div class="alert alert-primary-box">
                <span class="icon" uk-icon="icon:bookmark"></span>
                <span class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam minus. Sed minima beatae
                    nihil! Dignissimos voluptates commodi ab est!
                </span>
            </div>

            <div class="alert alert-danger-box">
                <span class="icon" uk-icon="icon:ban"></span>
                <span class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam minus. Sed minima beatae
                    nihil! Dignissimos voluptates commodi ab est!
                </span>
            </div>

            <div class="alert alert-warning-box">
                <span class="icon" uk-icon="icon:warning"></span>
                <span class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam minus. Sed minima beatae
                    nihil! Dignissimos voluptates commodi ab est!
                </span>
            </div>

            <div class="alert alert-success-box">
                <span class="icon" uk-icon="icon:check"></span>
                <span class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam minus. Sed minima beatae
                    nihil! Dignissimos voluptates commodi ab est!
                </span>
            </div>

        </div>

        <div>
            <h4 class="uk-text-bolder">Callouts Style Without Icon</h4>
            <div class="alert alert-success-box">
                <span>
                    <b> Success - </b> This is a regular notification made with ".alert-success"</span>
            </div>
            <div class="alert alert-warning-box">
                <span>
                    <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
            </div>
            <div class="alert alert-danger-box">
                <span>
                    <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
            </div>
            <div class="alert alert-primary-box">
                <span>
                    <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
            </div>
            <div class="alert alert-info-box">
                <span>
                    <b> Info - </b> This is a regular notification made with ".alert-info"</span>
            </div>
        </div>
</article>

<article class="niceBg">

    <div class="uk-grid uk-child-width-expand uk-child-width-1-2@s" uk-grid>
        <div>
            <h4 class="uk-text-bolder">Light Borderable Callouts Style With Icon</h4>
            <div class="alert alert-info-box-border">
                <span class="icon" uk-icon="icon:bell"></span>
                <span class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam minus. Sed minima beatae
                    nihil! Dignissimos voluptates commodi ab est!
                </span>
            </div>

            <div class="alert alert-primary-box-border">
                <span class="icon" uk-icon="icon:bookmark"></span>
                <span class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam minus. Sed minima beatae
                    nihil! Dignissimos voluptates commodi ab est!
                </span>
            </div>

            <div class="alert alert-danger-box-border">
                <span class="icon" uk-icon="icon:ban"></span>
                <span class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam minus. Sed minima beatae
                    nihil! Dignissimos voluptates commodi ab est!
                </span>
            </div>

            <div class="alert alert-warning-box-border">
                <span class="icon" uk-icon="icon:warning"></span>
                <span class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam minus. Sed minima beatae
                    nihil! Dignissimos voluptates commodi ab est!
                </span>
            </div>

            <div class="alert alert-success-box-border">
                <span class="icon" uk-icon="icon:check"></span>
                <span class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam minus. Sed minima beatae
                    nihil! Dignissimos voluptates commodi ab est!
                </span>
            </div>

        </div>

        <div>
            <h4 class="uk-text-bolder">Light Borderable Callouts Style Without Icon</h4>
            <div class="alert alert-success-box-border">
                <span>
                    <b> Success - </b> This is a regular notification made with ".alert-success"</span>
            </div>
            <div class="alert alert-warning-box-border">
                <span>
                    <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
            </div>
            <div class="alert alert-danger-box-border">
                <span>
                    <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
            </div>
            <div class="alert alert-primary-box-border">
                <span>
                    <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
            </div>
            <div class="alert alert-info-box-border">
                <span>
                    <b> Info - </b> This is a regular notification made with ".alert-info"</span>
            </div>
        </div>
</article>