<article class="niceBg">
    <h4 class="uk-text-bolder uk-margin-top-remove uk-margin-small-bottom">HTML 5 Video</h4>
    <video width="1920" height="1080" controls uk-responsive uk-video="autoplay:false">
        <source src="store/media/video.mp4" type="video/mp4">
        Your browser does not support HTML video.
    </video>
</article>


<article class="niceBg">
  <!-- https://w3schools.com/html/mov_bbb.mp4 -->
  <h4 class="uk-text-bolder">YouTube Video</h4>
  <iframe width="1920" height="1080" src="https://www.youtube.com/embed/BCGe4iKjYAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen uk-responsive uk-video="autoplay:false"></iframe>
</article>


<article class="niceBg">
    <h4 class="uk-text-bolder">Vimeo Video</h4>
    <iframe src="https://player.vimeo.com/video/243244233" width="1920" height="1080" frameborder="0" allow="autoplay; fullscreen" allowfullscreen uk-responsive uk-video="autoplay:false"></iframe>
</article>